<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.user.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_user</servlet-name>
        <servlet-class>com.user.Register_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.user.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_doc</servlet-name>
        <servlet-class>com.user.Register_doc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDrug</servlet-name>
        <servlet-class>com.admin.AddDrug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMed</servlet-name>
        <servlet-class>com.doctor.AddMed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_pharma</servlet-name>
        <servlet-class>com.user.Register_pharma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Review</servlet-name>
        <servlet-class>com.user.Add_Review</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StopwordRemovalServlet</servlet-name>
        <servlet-class>com.mining.Mining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Analysis</servlet-name>
        <servlet-class>com.mining.Analysis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_rev</servlet-name>
        <servlet-class>com.user.Add_rev</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_user</servlet-name>
        <url-pattern>/Register_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_doc</servlet-name>
        <url-pattern>/Register_doc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDrug</servlet-name>
        <url-pattern>/AddDrug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMed</servlet-name>
        <url-pattern>/AddMed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_pharma</servlet-name>
        <url-pattern>/Register_pharma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Review</servlet-name>
        <url-pattern>/Add_Review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StopwordRemovalServlet</servlet-name>
        <url-pattern>/StopwordRemovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Analysis</servlet-name>
        <url-pattern>/Analysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_rev</servlet-name>
        <url-pattern>/Add_rev</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
